In [7]:
import pandas as pd
import numpy as np
import yfinance as yf
import requests
from bs4 import BeautifulSoup

Question 1: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function.

Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [8]:
TSLA = yf.Ticker("TSLA")

In [9]:
tesla_data = TSLA.history(period="max")

In [10]:
tesla_data.reset_index(inplace=True)

In [11]:
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2: Use Webscraping to Extract Tesla Revenue Data

Display the last five rows of the tesla_revenue dataframe using the tail function.

Upload a screenshot of the results.

In [12]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
response = requests.get(url).text
soup = BeautifulSoup(response)

In [13]:
tesla_revenue = pd.DataFrame(columns=["Date","Revenue"])
for row in soup.find("tbody").find_all("tr"):
  col = row.find_all("td")
  year = col[0].text
  revenue = int(col[1].text.strip("$").replace(",",""))
  tesla_revenue = pd.concat([tesla_revenue,pd.DataFrame({"Date":[year],"Revenue":[revenue]})],ignore_index=True)
tesla_revenue.tail(5)

    Date Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

Question 3: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the gme_data dataframe using the head function.

Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [14]:
GME = yf.Ticker("GME")
gme_data = GME.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

Question 4: Use Webscraping to Extract GME Revenue Data

Display the last five rows of the gme_revenue dataframe using the tail function.

Upload a screenshot of the results.

In [15]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gme_revenue = pd.DataFrame(columns=["Date","Revenue"])
response = requests.get(url).text
soup = BeautifulSoup(response,"html.parser")
for row in soup.find("tbody").find_all("tr"):
  col = row.find_all("td")
  year = col[0].text
  revenue = col[1].text.strip("$").replace(",","")
  gme_revenue = pd.concat([gme_revenue,pd.DataFrame({"Date":[year],"Revenue":[revenue]})],ignore_index=True)
gme_revenue.tail(5)

    Date Revenue
11  2009    8806
12  2008    7094
13  2007    5319
14  2006    3092
15  2005    1843

Question 5: Plot Tesla Stock Graph

Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph.

Upload a screenshot of your results.

In [16]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

ModuleNotFoundError: No module named 'plotly'

In [17]:
!pip install plotly

Collecting plotly
  Obtaining dependency information for plotly from https://files.pythonhosted.org/packages/b8/f0/bcf716a8e070370d6598c92fcd328bd9ef8a9bda2c5562da5a835c66700b/plotly-5.23.0-py3-none-any.whl.metadata
  Downloading plotly-5.23.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\shrey\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.5.0)
Requirement already satisfied: packaging in c:\users\shrey\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.2)
Downloading plotly-5.23.0-py3-none-any.whl (17.3 MB)
   ---------------------------------------- 0.0/17.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.3 MB 487.6 kB/s eta 0:00:36
   ---------------------------------------- 0.1/17.3 MB 871.5 kB/s eta 0:00:20
   ---------------------------------------- 0.2/17.3 MB 1.1 MB/s eta 0:00:16
    --------------------------------------- 0.3/17.3 MB 1.3 MB/s eta 0:00:14
    --------------------------------------- 0.4/17.3 MB 1.5 MB/s eta 0:00:12
   - -------------------------------------- 0.5/17.3 MB 1.6 MB/s eta 0:00:11
   - -------------------------------------- 0.6/17.3 MB 1.7 MB/s eta 0:00:10
   - -------------------------------------- 0.7/17.3 MB 1.6 MB/s eta 0:00:11
   - -------------------------------------- 0.7/17.3 MB 1.6 MB/s eta 0:00:11
   -- ------------------------------------- 0.9/17.3 MB 1.8 MB/s eta 0:00:10
   -- ------------------------------------- 0.9/17.3 MB 1.8 MB/s eta 0:00:10
   -- ------------------------------------- 1.0/17.3 MB 1.7 MB/s eta 0:00:10
   -- ------------------------------------- 1.2/17.3 MB 1.8 MB/s eta 0:00:09
   --- ------------------------------------ 1.3/17.3 MB 1.9 MB/s eta 0:00:09
   --- ------------------------------------ 1.5/17.3 MB 2.1 MB/s eta 0:00:08
   ---- ----------------------------------- 1.8/17.3 MB 2.3 MB/s eta 0:00:07
   ---- ----------------------------------- 1.9/17.3 MB 2.4 MB/s eta 0:00:07
   ---- ----------------------------------- 2.1/17.3 MB 2.4 MB/s eta 0:00:07
   ---- ----------------------------------- 2.1/17.3 MB 2.4 MB/s eta 0:00:07
   ---- ----------------------------------- 2.1/17.3 MB 2.4 MB/s eta 0:00:07
   ---- ----------------------------------- 2.1/17.3 MB 2.4 MB/s eta 0:00:07
   ---- ----------------------------------- 2.1/17.3 MB 2.4 MB/s eta 0:00:07
   ----- ---------------------------------- 2.3/17.3 MB 2.1 MB/s eta 0:00:08
   ----- ---------------------------------- 2.4/17.3 MB 2.2 MB/s eta 0:00:07
   ------ --------------------------------- 2.6/17.3 MB 2.2 MB/s eta 0:00:07
   ------ --------------------------------- 2.8/17.3 MB 2.2 MB/s eta 0:00:07
   ------ --------------------------------- 2.9/17.3 MB 2.3 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/17.3 MB 2.4 MB/s eta 0:00:07
   ------- -------------------------------- 3.4/17.3 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.5/17.3 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.7/17.3 MB 2.5 MB/s eta 0:00:06
   --------- ------------------------------ 4.0/17.3 MB 2.6 MB/s eta 0:00:06
   --------- ------------------------------ 4.1/17.3 MB 2.6 MB/s eta 0:00:06
   --------- ------------------------------ 4.3/17.3 MB 2.6 MB/s eta 0:00:05
   ---------- ----------------------------- 4.5/17.3 MB 2.7 MB/s eta 0:00:05
   ---------- ----------------------------- 4.5/17.3 MB 2.7 MB/s eta 0:00:05
   ---------- ----------------------------- 4.6/17.3 MB 2.6 MB/s eta 0:00:05
   ----------- ---------------------------- 4.8/17.3 MB 2.6 MB/s eta 0:00:05
   ----------- ---------------------------- 4.9/17.3 MB 2.7 MB/s eta 0:00:05
   ----------- ---------------------------- 4.9/17.3 MB 2.6 MB/s eta 0:00:05
   ----------- ---------------------------- 5.1/17.3 MB 2.6 MB/s eta 0:00:05
   ------------ --------------------------- 5.3/17.3 MB 2.7 MB/s eta 0:00:05
   ------------ --------------------------- 5.6/17.3 MB 2.7 MB/s eta 0:00:05
   ------------ --------------------------- 5.6/17.3 MB 2.7 MB/s eta 0:00:05
   ------------- -------------------------- 5.7/17.3 MB 2.7 MB/s eta 0:00:05
   ------------- -------------------------- 5.9/17.3 MB 2.7 MB/s eta 0:00:05
   -------------- ------------------------- 6.1/17.3 MB 2.8 MB/s eta 0:00:05
   -------------- ------------------------- 6.3/17.3 MB 2.8 MB/s eta 0:00:04
   --------------- ------------------------ 6.6/17.3 MB 2.8 MB/s eta 0:00:04
   --------------- ------------------------ 6.9/17.3 MB 2.9 MB/s eta 0:00:04
   ---------------- ----------------------- 7.1/17.3 MB 2.9 MB/s eta 0:00:04
   ---------------- ----------------------- 7.3/17.3 MB 3.0 MB/s eta 0:00:04
   ----------------- ---------------------- 7.5/17.3 MB 3.0 MB/s eta 0:00:04
   ----------------- ---------------------- 7.6/17.3 MB 3.0 MB/s eta 0:00:04
   ------------------ --------------------- 7.8/17.3 MB 3.0 MB/s eta 0:00:04
   ------------------ --------------------- 8.1/17.3 MB 3.1 MB/s eta 0:00:04
   ------------------- -------------------- 8.4/17.3 MB 3.1 MB/s eta 0:00:03
   ------------------- -------------------- 8.6/17.3 MB 3.1 MB/s eta 0:00:03
   -------------------- ------------------- 8.7/17.3 MB 3.1 MB/s eta 0:00:03
   -------------------- ------------------- 8.9/17.3 MB 3.2 MB/s eta 0:00:03
   --------------------- ------------------ 9.1/17.3 MB 3.2 MB/s eta 0:00:03
   --------------------- ------------------ 9.4/17.3 MB 3.2 MB/s eta 0:00:03
   ---------------------- ----------------- 9.6/17.3 MB 3.2 MB/s eta 0:00:03
   ---------------------- ----------------- 9.8/17.3 MB 3.2 MB/s eta 0:00:03
   ---------------------- ----------------- 9.9/17.3 MB 3.2 MB/s eta 0:00:03
   ----------------------- ---------------- 10.1/17.3 MB 3.2 MB/s eta 0:00:03
   ----------------------- ---------------- 10.1/17.3 MB 3.2 MB/s eta 0:00:03
   ----------------------- ---------------- 10.1/17.3 MB 3.2 MB/s eta 0:00:03
   ------------------------ --------------- 10.5/17.3 MB 3.3 MB/s eta 0:00:03
   ------------------------ --------------- 10.6/17.3 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 10.7/17.3 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 10.8/17.3 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 10.9/17.3 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 11.1/17.3 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 11.3/17.3 MB 3.5 MB/s eta 0:00:02
   -------------------------- ------------- 11.4/17.3 MB 3.5 MB/s eta 0:00:02
   -------------------------- ------------- 11.5/17.3 MB 3.5 MB/s eta 0:00:02
   --------------------------- ------------ 11.7/17.3 MB 3.4 MB/s eta 0:00:02
   --------------------------- ------------ 11.9/17.3 MB 3.5 MB/s eta 0:00:02
   --------------------------- ------------ 12.0/17.3 MB 3.4 MB/s eta 0:00:02
   ---------------------------- ----------- 12.2/17.3 MB 3.5 MB/s eta 0:00:02
   ---------------------------- ----------- 12.4/17.3 MB 3.7 MB/s eta 0:00:02
   ---------------------------- ----------- 12.5/17.3 MB 3.7 MB/s eta 0:00:02
   ----------------------------- ---------- 12.6/17.3 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 12.8/17.3 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 13.0/17.3 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 13.1/17.3 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 13.3/17.3 MB 3.6 MB/s eta 0:00:02
   ------------------------------- -------- 13.5/17.3 MB 3.7 MB/s eta 0:00:02
   ------------------------------- -------- 13.6/17.3 MB 3.6 MB/s eta 0:00:02
   ------------------------------- -------- 13.8/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 14.0/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 14.1/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 14.2/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 14.2/17.3 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 14.5/17.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 14.7/17.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 14.9/17.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 15.0/17.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 15.1/17.3 MB 3.6 MB/s eta 0:00:01
   ----------------------------------- ---- 15.3/17.3 MB 3.6 MB/s eta 0:00:01
   ----------------------------------- ---- 15.4/17.3 MB 3.6 MB/s eta 0:00:01
   ----------------------------------- ---- 15.6/17.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 15.8/17.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 15.9/17.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 16.0/17.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 16.2/17.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 16.4/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 16.6/17.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 16.8/17.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  16.9/17.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  17.1/17.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 17.3/17.3 MB 3.4 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-5.23.0

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
make_graph(gme_data,gme_revenue,"gme")

In [ ]:
make_graph(tesla_data,tesla_revenue,"TSLA")